{:api/config
 {:secrets      #include #join [#env CWD "./secrets.edn"]
  :github-token #profile {:dev #ref [:api/config :secrets :github-token]}
  :port         #profile {:dev  4000
                          :prod 8080}}}
